body{
     background: rgb(235, 235, 241);
    background: linear-gradient(90deg, rgb(19, 8, 231) 0%, rgb(215, 215, 228) 35%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(to right, #6062e1, #ecdbdb, #cbcbdb);
    color: var(--primary-color);
  }
  
  .container {
    border: 2px solid white;
    background-color: rgb(152, 25, 6);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .container .main-h{
    font-size: 40px;
    content: center;
  }
  
  .converter input {
    width: 35%;
    padding: 10px;
    margin-bottom: 10px;
    
  }
  
  .converter select {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .converter button {
    padding: 10px 20px;
    background-color: #0084ff;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .converter button:hover {
    background-color: #0004fc;
    font-style: italic;
    
    transform: matrix3d(6s);
    transition: 0.4s;
  }
  
  .result-h{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-display: unset;
    font-weight: bolder;
    font-style: italic;
    background-color: rgb(115, 80, 147);
  }
  
  #result {
    font-size: 35px;
    margin-top: 10px;
    font-style: italic;
    background-color: #cbabab;
  }